$backgroundcolor: #2b2a2d;
$bordercolor: #ffc39c;
$elementcolor: $bordercolor;

@keyframes square1
{
	100% { transform: rotate(360deg); }
}

@keyframes square2
{
	0% { transform: rotate(0deg); }
	13% { transform: rotate(45deg); }
	25% { transform: rotate(90deg); }
	38% { transform: rotate(135deg); }
	50% { transform: rotate(180deg); }
	63% { transform: rotate(225deg); }
	75% { transform: rotate(270deg); }
	88% { transform: rotate(315deg); }
	100% { transform: rotate(360deg); }
}

@keyframes square3
{
	100% { transform: rotate(360deg); }
}

@keyframes square4
{
	100% { transform: scale(1.9); }
}

@keyframes square5
{
	100% { transform: scale(1.9); }
}

@keyframes square6
{

}

*
{
	margin: 0;
	padding: 0;
}

html, body
{
	height: 100%;
}

body
{
	background-color: $backgroundcolor;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}

.body-row
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 1;
}

.square
{
	$width: 85px;
	width: $width;
	height: $width;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	padding: .5rem;
	border: 1px solid $bordercolor;

	.row
	{
		display: flex;
		justify-content: center;

		.col
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.circle
			{
				background-color: $elementcolor;
				height: 30%;
				width: 30%;
				border-radius: 50%;
				animation-direction: alternate;
			}

			.spinny
			{
				background-color: $elementcolor;
				width: 7%;
				height: 100%;
				border-radius: 50px;
			}
		}
	}
}

#square2
{
	.spinny
	{
		animation: square2 3s ease-in-out infinite;
	}

	.col-even
	{
		.spinny
		{
			width: 100%;
			height: 7%;
		}
	}
}

#square4
{
	.row
	{
		flex: 1;
		.col
		{
			flex: 1;
		}
	}
}

#square5
{
	.row
	{
		flex: 1;
		.col
		{
			flex: 1;
		}
	}
}

@media (min-width: 700px)
{
	.square
	{
		$width: 190px;
		width: $width;
		height: $width;
		padding: 1rem;
	}
}
